####################################################################
# WhiteSource Unified-Agent generated configuration file
####################################################################
########################################################
# GENERAL SCAN MODE: Files and Package Managers
########################################################

resolveAllDependencies=false
archiveExtractionDepth=7
followSymbolicLinks=false
#html.resolveDependencies=true
maven.resolveDependencies=true
enableImpactAnalysis=true
requireKnownSha1=false
maven.aggregateModules=true
maven.ignoreMvnTreeErrors=false
maven.runPrestep=true
#npm.resolveDependencies=true
#npm.runPreStep=true
#------------------------------------------------------------------------
#------------------------ Fill in the parameters ------------------------
#------------------------------------------------------------------------

apiKey=e3a9c3e35386495bb35207ae0dde4eb9b9dfc12bf76844a8b0471eaa64bae1ac
#Unique identifier of the organization. It can be retrieved from the 'Integrate' page in your WhiteSource account

productName=EUAtest
#Name of the product to create or update

projectName=EUAtest
#Name of the project to create or update

wss.url=
#URL to send the request to. Use the 'WhiteSource Server URL' which can be retrieved from your 'Profile' page on the 'Server URLs' panel. Then, add New configuration was created at the '/agent' path to it, 
#For example: "https://<domain>.whitesourcesoftware.com/agent".

#projectTag=
#Project tag, to refer to another project and apply the policies from there

#projectToken=
#Unique identifier of the project to update. It can be retrieved from the 'Integrate' page in your WhiteSource account

#---------------- File name patterns to search ----------------
includes=**/*.jar
